.flex {
    display: flex;
    /* width: 100px; */
    order: 5;
    flex-wrap: wrap;
    align-content: flex-start;
    /* -ms-flex: 1; /* IE 10 */
    /* flex: 1; */ 
}
.item{
    width: 50px;
    height: 50px;
}
.space{
    color: rebeccapurple;
}
.border{
    border:solid;
    border-radius:5mm;
    border-color: aquamarine;
    /* width: 80px; */
    height: 200px;
    display: block;

}
.button:hover {
    transition-duration: 0.1s;
    background-color: #3A3A3A;
  }
  .btnselected{
    background-color:darkgrey;

}